<div class="main">
  <div class="kx-container">
    <div class="kx-typescale--large kx-p--base kx-center">LIVE DEMO</div>
    <div class="kx-row">
      <div class="kx-col--6">
        <section class="html-section">
          <p class="kx-typescale--base kx-m--small">HTML SNIPPET</p>
          <textarea class="html" name="htmlSnippet" id="html" rows="10">
            &lt;kdi-dropdown [dropdown]="dropdown"&gt;&lt;/kdi-dropdown&gt;
          </textarea>
        </section>
      </div>
      <div class="kx-col--6">
        <section class="output-section">
          <p class="kx-typescale--base kx-center kx-m--small">OUTPUT</p>
          <div class="output">
            <kdi-dropdown [dropdown]="dropdown"></kdi-dropdown>
          </div>
        </section>
      </div>
    </div>
    <div class="kx-row">
      <div class="kx-col--6">
        <section class="json-section">
          <p class="kx-typescale--base kx-m--small">Json DATA</p>
          <textarea class="json" rows="8" [(ngModel)]="Dropdown"></textarea>
        </section>
      </div>
    </div>
  </div>
</div>