// ==========================================================================
// Media Queries using Sass-MQ
//
// Doc: http://sass-mq.github.io/sass-mq
// Github: https://github.com/sass-mq/sass-mq
// ==========================================================================

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.

$mq-breakpoints: (
    all: 0px,
    mob-s: 321px,
    mob-m: 376px,
    tab-s: 601px,
    tab-m: 769px,
    tab-l: 1025px,
    ltp-s: 1281px,
    ltp-m: 1441px,
    dtp:   1921px
);

$mq-media-type: 'screen';
