// Source: colors
// Kognifai Teal 2019
$color-teal-01: #d0e6ea;

// Kognifai Teal 2019
$color-teal-02: #b9dadf;

// Kognifai Teal 2019
$color-teal-03: #8bc2ca;

// Kognifai Teal 2019
$color-teal-04: #5caab5;

// Kognifai Teal 2019
$color-teal-05: #2e92a0;

// Kognifai Teal 2019
$color-teal-06: #007a8c;

// Kognifai Teal 2019
$color-teal-07: #006473;

// Kognifai Teal 2019
$color-teal-08: #004e5a;

// Kognifai Teal 2019
$color-teal-09: #003840;

// Kognifai Teal 2019
$color-teal-10: #002227;

// Kognifai Navy 2019
$color-navy-01: #e9f2f6;

// Kognifai Navy 2019
$color-navy-02: #bfd9e5;

// Kognifai Navy 2019
$color-navy-03: #7fb4cc;

// Kognifai Navy 2019
$color-navy-04: #6aa7c4;

// Kognifai Navy 2019
$color-navy-05: #408eb3;

// Kognifai Navy 2019
$color-navy-06: #1676a3;

// Kognifai Navy 2019
$color-navy-07: #136186;

// Kognifai Navy 2019
$color-navy-08: #0f4c68;

// Kognifai Navy 2019
$color-navy-09: #0a364b;

// Kognifai Navy 2019
$color-navy-10: #06212d;

// Kognifai Blue 2019
$color-blue-01: #e8f6fe;

// Kognifai Blue 2019
$color-blue-02: #bae5fd;

// Kognifai Blue 2019
$color-blue-03: #8cd4fb;

// Kognifai Blue 2019
$color-blue-04: #5ec3fa;

// Kognifai Blue 2019
$color-blue-05: #30b2f9;

// Kognifai Blue 2019
$color-blue-06: #03a2f8;

// Kognifai Blue 2019
$color-blue-07: #0385cb;

// Kognifai Blue 2019
$color-blue-08: #02689e;

// Kognifai Blue 2019
$color-blue-09: #024a71;

// Kognifai Blue 2019
$color-blue-10: #012d44;

// Kognifai Red 2019
$color-red-01: #f6d7d8;

// Kognifai Red 2019
$color-red-02: #eeafb2;

// Kognifai Red 2019
$color-red-03: #ea9b9f;

// Kognifai Red 2019
$color-red-04: #e17378;

// Kognifai Red 2019
$color-red-05: #d94b52;

// Kognifai Red 2019
$color-red-06: #d1232c;

// Kognifai Red 2019
$color-red-07: #991a21;

// Kognifai Red 2019
$color-red-08: #86171d;

// Kognifai Red 2019
$color-red-09: #5f1014;

// Kognifai Red 2019
$color-red-10: #390a0c;

// Kognifai Pink 2019
$color-pink-01: #f9ebf6;

// Kognifai Pink 2019
$color-pink-02: #eec3e4;

// Kognifai Pink 2019
$color-pink-03: #e39cd2;

// Kognifai Pink 2019
$color-pink-04: #d874c0;

// Kognifai Pink 2019
$color-pink-05: #cd4dae;

// Kognifai Pink 2019
$color-pink-06: #c2269c;

// Kognifai Pink 2019
$color-pink-07: #9f2080;

// Kognifai Pink 2019
$color-pink-08: #7c1964;

// Kognifai Pink 2019
$color-pink-09: #591247;

// Kognifai Pink 2019
$color-pink-10: #350b2b;

// Kognifai Purple 2019
$color-purple-01: #e5d9ed;

// Kognifai Purple 2019
$color-purple-02: #d8c7e4;

// Kognifai Purple 2019
$color-purple-03: #bea2d2;

// Kognifai Purple 2019
$color-purple-04: #a47dc1;

// Kognifai Purple 2019
$color-purple-05: #8a58af;

// Kognifai Purple 2019
$color-purple-06: #71339e;

// Kognifai Purple 2019
$color-purple-07: #5d2a82;

// Kognifai Purple 2019
$color-purple-08: #482165;

// Kognifai Purple 2019
$color-purple-09: #341848;

// Kognifai Purple 2019
$color-purple-10: #1f0e2c;

// Kognifai Yellow 2019
$color-yellow-01: #faeeb9;

// Kognifai Yellow 2019
$color-yellow-02: #f8e8a2;

// Kognifai Yellow 2019
$color-yellow-03: #f7e38b;

// Kognifai Yellow 2019
$color-yellow-04: #f4d85c;

// Kognifai Yellow 2019
$color-yellow-05: #f1cd2e;

// Kognifai Yellow 2019
$color-yellow-06: #eec200;

// Kognifai Yellow 2019
$color-yellow-07: #ae8e00;

// Kognifai Yellow 2019
$color-yellow-08: #987c00;

// Kognifai Yellow 2019
$color-yellow-09: #6d5900;

// Kognifai Yellow 2019
$color-yellow-10: #413500;

// Kognifai Orange 2019
$color-orange-01: #fdf4e7;

// Kognifai Orange 2019
$color-orange-02: #fadeb9;

// Kognifai Orange 2019
$color-orange-03: #f8c88b;

// Kognifai Orange 2019
$color-orange-04: #f5b35c;

// Kognifai Orange 2019
$color-orange-05: #f29d2e;

// Kognifai Orange 2019
$color-orange-06: #f08800;

// Kognifai Orange 2019
$color-orange-07: #c57000;

// Kognifai Orange 2019
$color-orange-08: #995700;

// Kognifai Orange 2019
$color-orange-09: #6e3e00;

// Kognifai Orange 2019
$color-orange-10: #422600;

// Kognifai Green 2019
$color-green-01: #eaf7f2;

// Kognifai Green 2019
$color-green-02: #c1e9d9;

// Kognifai Green 2019
$color-green-03: #97dbc1;

// Kognifai Green 2019
$color-green-04: #6ecca8;

// Kognifai Green 2019
$color-green-05: #45be8f;

// Kognifai Green 2019
$color-green-06: #1cb077;

// Kognifai Green 2019
$color-green-07: #179162;

// Kognifai Green 2019
$color-green-08: #12714c;

// Kognifai Green 2019
$color-green-09: #0d5037;

// Kognifai Green 2019
$color-green-10: #083021;

// Kognifai Gray 2019
$color-gray-01: #f6f6f6;

// Kognifai Gray 2019
$color-gray-02: #e8e8e8;

// Kognifai Gray 2019
$color-gray-03: #d4d4d6;

// Kognifai Gray 2019
$color-gray-04: #c2c3c7;

// Kognifai Gray 2019
$color-gray-05: #b2b4b5;

// Kognifai Gray 2019
$color-gray-06: #a2a2a2;

// Kognifai Gray 2019
$color-gray-07: #6f7176;

// Kognifai Gray 2019
$color-gray-08: #373c41;

// Kognifai Gray 2019
$color-gray-09: #2c3136;

// Kognifai Gray 2019
$color-gray-10: #1d2024;

// Neutral
$color-white: #ffffff;

// Neutral
$color-black: #000000;

