// ==========================================================================
// Typographic Weight:
// ==========================================================================
$type-weight: (
    ultra-light: 100,   // NOT available as Open Sans
    thin: 200,          // NOT available as Open Sans
    light: 300,
    regular: 400,
    semi-bold: 500,     // NOT available as Open Sans
    bold: 600,
    extra-bold: 700,
    heavy: 800,         // NOT available as Open Sans
    ultra-heavy: 900    // NOT available as Open Sans
);
