<div class="docs-container">
    <p class="kx-typescale--xlarge kx-mt--base">Side NavBar Component</p>
    <div class="main">
        <kdi-nav [navitems]="navitems" (sendItem)="handler($event)" (sendLink)="handlerLink($event)" [type] = "'button'"></kdi-nav>
      <br>
      <p class="kx-typescale--base">{{ item?.route }}</p>
      <br>
    </div>
    <section>
      <ul>
        <li class="kx-typescale--large">Configuration Options</li>
        <section class="code-section">
          <p class="kx-typescale--base">Use this Selector in your component to include DropDown Component.</p>
          <pre class="kx-p--base kx-typescale--base code">
    &lt;kdi-nav [navitems]="navitems"&gt;&lt;/kdi-nav&gt;
              </pre>
        </section>
        <li class="kx-typescale--large">How to use?</li>
        <section class="code-section">
          <p class="kx-typescale--base">Use this Format for specifying your content for your dropdwon component
            and pass is to the propety in the secector tag.</p>
          <pre class="kx-p--base kx-typescale--base code js">
      dropdown = &#123;
        title: 'Courses',
        items: [
          &#123;
            icon: 'box',
            link: '#',
            name: 'Java',
          &#125;,
          &#123;
            icon: 'papers',
            link: '#',
            name: '.Net',
            sub: [
              &#123;
                link: '#',
                name: 'FrameWork'
              &#125;,
              &#123;
                link: '#',
                name: 'Core'
              &#125;
            ]
          &#125;,
          &#123;
            icon: 'success',
            link: '#',
            name: 'C++'
          &#125;,
          &#123;
            icon: 'danger',
            link: '#',
            name: 'Python',
          &#125;
        ]
      &#125;;        
            </pre>
        </section>
        <li class="kx-typescale--large">How to listen to selecte item from drop down?</li>
        <section class="code-section">
          <p class="kx-typescale--base">Use this EventListener in your selector tag to listen to the selected path
            and you have to create a event handler function in your component.
          </p>
          <pre class="kx-p--base kx-typescale--base code">
      Add this in your selecor tag (getClickPath)="handler($event)"
      
      handler(path: string) &#123;
        this.path = path;
      &#125;
          </pre>
        </section>
      </ul>
    </section>
  </div>