<header class="kx-typescale--xlarge kx-center kx-py--base">
  KDI Component Library
</header>

<div class="kx-container">
  <div class="kx-row">
    <div class="kx-col--1.5">
      <section class="nav">
        <span class="kx-typescale--large kx-py--medium ">COMPONENTS</span>
        <kdi-tree [treeItems]="navItems" (sendLink)="handler($event)" [type]="'link'">
        </kdi-tree>
        <kdi-badge [badge]="badge" (click)="onSelect()">
        </kdi-badge>
      </section>

    </div>

    <div class="kx-col--10">
      <section class="main">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>