<!-- <header class="kx-typescale--xlarge kx-center kx-py--base">KDI Reusable Components</header>
<div class="kx-container">
  <div class="kx-row">
    <div class="kx-col--2">
      <section class="nav">
        <span class="kx-typescale--large kx-py--medium">COMPONENTS</span>
        <kdi-nav [navitems]="navitems" (sendLink)="handler($event)"></kdi-nav>
      </section>
    </div>
    <div class="kx-col--10">
      <section class="main">
        <router-outlet></router-outlet>
        <kdi-dropdown-demo></kdi-dropdown-demo>
      </section>
    </div>
  </div>
</div> -->
<kdi-dropdown-demo></kdi-dropdown-demo>