// ==========================================================================
// MIXIN: ratio
// ==========================================================================

//
// A mixin that helps controlling intrinsic ratios. Usually seen when you need
// to scale embedded content, youtube-videos, iframes etc.
//
// Use modifiers to adjust the aspect ratio of the container.
//
// USAGE Scss:
// @include ratio;
//
// USAGE HTML:
// <div class="kx-ratio kx-ratio--16by9">
//     <iframe ...></iframe>
// </div>
//

@mixin ratio {
    position: relative;

    &:before {
        content: '';
        width: 1px;
        margin-left: -1px;
        float: left;
        height: 0;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    > :first-child {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > img:first-child {
        object-fit: cover;
    }
}
