.temp{
    width:auto; 
    padding: 10px;
    margin:10px;
}
.container{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: auto; */
    /* margin-top: 20px; */
    justify-content: space-between;
    align-content: center;
    
}