<div class="container">
    <kdicard>
        <kdi-card-title>
            Kongsberg Digital
        </kdi-card-title>
        <kdi-card-content>
            Kongsberg Digital is a provider of next generation software and digital solutions to customers within
            maritime, oil & gas and renewables & utilities.
            KOGNIFAI, OUR DIGITAL PLATFORM,
        </kdi-card-content>
        <kdi-card-footer>
            its footer
        </kdi-card-footer>
    </kdicard>
</div>
<kdi-page>
    
</kdi-page>