.temp{
    width:auto; 
    padding: 10px;
    margin:10px;
}
.container{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.main {
    margin: 10px 0px;
    height: 600px;
    border: 0.1em solid #e9f2f6;
    border-radius: 2px;
    overflow-x:scroll;
  }
  .docs-container {
    width: 75%;
    margin: auto;
  }
  .code-section {
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
  }
  .code {
    width: 100%;
    white-space: pre-wrap;
    padding: 10px;
    margin: 10px 0px;
    background: #e8f6fe;
    border-radius: 10px;
  }
  .js {
    height: 300px;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  li {
    list-style-type: lower-roman;
  }