<div class="docs-container">
    <p class="kx-typescale--xlarge kx-mt--base">Table Component</p>
    <div class="main">
        <div class="kx-row">
            <div class="kx-col--6">
                <section class="output-section">
                    <app-table [tablecontent]="table"></app-table>
                </section>
            </div>
            <div class="kx-col--6">
                <section class="json-section">
                    <p class="kx-typescale--base kx-m--small kx-m">JSON DATA</p>
                    <textarea class="json" [(ngModel)]="Table"></textarea>
                </section>
            </div>
        </div>

    </div>
    <section>
        <ul>
            <li class="kx-typescale--large">Configuration Options</li>
            <section class="code-section">
                <p class="kx-typescale--base">Use this Selector in your component to include DropDown Component.</p>
                <pre class="kx-p--base kx-typescale--base code">
    &lt;app-table
    [tablecontent]="tablecontent"&gt; 
    &lt;/app-table&gt;</pre>
            </section>
            <li class="kx-typescale--large">How to use?</li>
            <section class="code-section">
                <p class="kx-typescale--base">Use this Format for specifying your content for your dropdwon component
                    and pass is to the propety in the secector tag.</p>
                <pre class="kx-p--base kx-typescale--base code js">
    tablecontent = &#123;
        header: [
            
            'FirstName',
            'LastName',
            'Phone',
            'Place'
        
            ],
        body: [
            [
            'Naga',
            'Darshan',
            '9004567878',
            'Bangalore',
            ],
            [
            'shruta',
            'SP',
            '1234567890',
            'Bangalore'
            ],
            [
            'subash',
            'Raj',
            '1234567890',
            'Bangalore'
            ],
            [
            'Anuja',
            'Anu',
            '0987654321',
            'Bangalore'
            ]
            ]
            
      &#125;;</pre>
            </section>

        </ul>
    </section>
</div>