// ==========================================================================
// Map for Themes
// ==========================================================================
$themes: (
    'navy': (
        'color-bg': $color-theme-navy-bg,
        'color-fg': $color-theme-navy-txt
    ),
    'teal': (
        'color-bg': $color-theme-teal-bg,
        'color-fg': $color-theme-teal-txt
    ),
    'aqua': (
        'color-bg': $color-theme-aqua-bg,
        'color-fg': $color-theme-aqua-txt
    ),
    'foam': (
        'color-bg': $color-theme-foam-bg,
        'color-fg': $color-theme-foam-txt
    ),
    'white': (
        'color-bg': $color-theme-white-bg,
        'color-fg': $color-theme-white-txt
    ),
    'gray': (
        'color-bg': $color-theme-gray-bg,
        'color-fg': $color-theme-gray-txt
    ),
) !default;

// Base styling for all selectors containing the string 'kx-theme--'
//    [class*='kx-theme--'] {
//        a:not(.kx-btn) {
//            &:hover,
//            &:focus {
//                background-image: none;
//            }
//        }
//    }

//
// Here we loop through the sass-map '$themes' in _themes.scss. For each color
// we prefix-the theme with '.kx-theme--' and get the key-values for each.
// This essentially generates styling for:
//
// - background-color
// - text-color
//
@each $theme, $colors in $themes {
    .kx-theme--#{$theme} {
        background-color: map-get($colors, color-bg);
        color: map-get($colors, color-fg);

        .kx-btn--skin-link,
        a {
            color: inherit !important;

            &:hover {
                color: $color-white;
            }
        }
    }
}
