.main {
    margin: 10px 0px;
    padding-top: 20px;
    padding-left: 20px;
    height: 400px;
    border: 0.1em solid #e9f2f6;
    border-radius: 2px;
  }
  
  .docs-container {
    width: 90%;
    margin:auto;
    margin-top:10px;
  }
  
  .code-section {
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
  }
  
  .code {
    width: 100%;
    white-space: pre-wrap;
    padding: 10px;
    margin: 10px 0px;
    background: #e8f6fe;
    border-radius: 10px;
  }
  
  .mh {
    max-height: 300px;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
  }
  
  li {
    list-style-type: lower-roman;
  }

  .output-section-badges-list{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .output-section-badge{
    display:inline-flex;
   margin:9px;
  }
  .json{
    display:flex;
    justify-content:center;
    resize: none;
    border: 0.1em solid #e9f2f6;
   
    height:  110px;
    width: 70%;
    border-radius: 5px;
    color: #e9f2f6;
    background: #004e5a;
  }
  .kx-typescale--base {
    margin-top:30px;

  }