<div class="docs-container">
  <p class="kx-typescale--xlarge kx-mt--base">Side NavBar Component</p>
  <div class="main">
    <div class="kx-row">
      <div class="kx-col--6">
        <section class="output-section">
          <kdi-tree [treeItems]="treeItems" (sendItem)="handler($event)" (sendLink)="handlerLink($event)"
            [type]="'button'">
          </kdi-tree>
          <br>
          <p class="kx-typescale--base">{{ item?.route }}</p>
          <br>
        </section>
      </div>
      <div class="kx-col--6">
        <section class="json-section">
          <p class="kx-typescale--base kx-m--small kx-m">Json DATA</p>
          <textarea class="json" [(ngModel)]="TreeItems"></textarea>
        </section>
      </div>
    </div>
  </div>
  <section>
    <ul>
      <li class="kx-typescale--large">Configuration Options</li>
      <section class="code-section">
        <p class="kx-typescale--base">Use this Selector in your component to include DropDown Component.</p>
        <pre class="kx-p--base kx-typescale--base code mh">
    &lt;kdi-nav [treeItems]="treeItems"&gt;&lt;/kdi-nav&gt;</pre>
      </section>
      <li class="kx-typescale--large">How to use?</li>
      <section class="code-section">
        <p class="kx-typescale--base">Use this Format for specifying your content for your dropdwon component
          and pass is to the propety in the secector tag.</p>
        <pre class="kx-p--base kx-typescale--base code mh">
      treeItems: TreeItem[] = [
      &#123;
        displayName: 'Kongsberg',
        route: 'kongsberg',
        icon: 'box',
        children: [
        &#123;
            displayName: 'Oil and Gas',
            route: 'kongsberg/oil_and_gas',
            icon: 'box',
            children: [
            &#123;          
                displayName: 'Oil',
                route: 'kongsberg/oil_and_gas/oil',
                icon: 'box',
                &#125;,
              &#123;
                displayName: 'Gas',
                route: 'kongsberg/oil_and_gas/gas',
                icon: 'box',
              &#125;
            ]
          &#125;
        ]
        &#125;,
      &#123;
        displayName: 'Maritime',
        route: 'maritime',
        icon: 'box',
        children: [
        &#123;
            displayName: 'Simulation',
            route: 'maritime/simulation',
            icon: 'box',
            children: [
            &#123;
                displayName: 'k-spice',
                route: 'maritime/simulation/k_spice',
                icon: 'box'
              &#125;
            ]
            &#125;,
          &#123;
            displayName: 'Digital Twin',
            route: 'maritime/digital_twin',
            icon: 'box'
          &#125;
        ]
      &#125;
    ];</pre>
      </section>
      <li class="kx-typescale--large">How to listen to selecte item from drop down?</li>
      <section class="code-section">
        <p class="kx-typescale--base">Use this EventListener in your selector tag to listen to the selected path
          and you have to create a event handler function in your component.
        </p>
        <pre class="kx-p--base kx-typescale--base code mh">
      Add this in your selecor tag 
      
      (sendItem)="handler($event)" 
      (sendLink)="handlerLink($event)"
      
      handler(item: TreeItem) &#123;
        this.item = item;
      &#125;
    
      handlerLink(link: string) &#123;
        this.link = link;
      &#125;</pre>
      </section>
    </ul>
  </section>
</div>