<!-- TABS Component -->
<!-- {{tabs}} -->
<nav class="kx-tabs kx-tabs--theme-foam">
                        
  <ol class="kx-tabs__list">
    
    <li class="kx-tabs__item" *ngFor = "let item of tabs.items">
    <a href="#" class="kx-tabs__label">

      <!-- ICON Component -->
        <!-- <i class="kx-icon kx-icon--size-base">
          <svg focusable="false">
            <use xlink:href="../../assets/img/icons/sprites/icons.svg#box"></use>
          </svg>
        </i> -->

      <span class="kx-tabs__txt">{{item.txt}}</span>
    </a>
    </li>
    <!-- </li> -->
    <!-- <li class="kx-tabs__item">
      <a href="#" class="kx-tabs__label">

        <span class="kx-tabs__txt">Applications</span>
      </a>
    </li>
    <li class="kx-tabs__item">
      <a href="#" class="kx-tabs__label">

        <span class="kx-tabs__txt">Management</span>
      </a>
    </li>
    <li class="kx-tabs__item">
      <a href="" class="kx-tabs__label">
        <span class="kx-tabs__txt">Node Offshore</span>
      </a>
    </li>
    <li class="kx-tabs__item">
      <a href="" class="kx-tabs__label">
        <span class="kx-tabs__txt">Shipping</span>
      </a>
    </li>
    <li class="kx-tabs__item">
      <a href="" class="kx-tabs__label">
        <span class="kx-tabs__txt">Tracking</span>
      </a>
    </li> -->
  </ol>
</nav>