<div class="overall-container">
  <div class="border-container">
    <div class="upper-container">
      <div class="text-container">
        <h1> KDI Component Library</h1>
        <a class="kx-btn kx-btn--skin-primary kx-btn--size-large kx-hero__cta" (click)='onClicked()'>
          <span class="kx-btn__inner">
            <span class="kx-btn__txt">Get started</span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="lower-container">
    <div class="content-container">
      <div class="first-container">
        A component is an isolated and re-usable piece of code that controls a part of the app’s UI.
      </div>
      <div class="second-container">
        Each component is a TypeScript class decorated with the @Component decorator. It has attached template and SCSS that form
        the component’s view.
      </div>
      <div class="third-container">
        These component library is a part of the Kognifai Design System which will enable you to create unified and coherent UI in
        the Kognifai ecosystem.
      </div>
    </div>
  </div>
</div>